@use '@/styles/_mixins.scss';

.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 2em 0;

  @include mixins.lg {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }

  .gridItem {
    background-color: var(--background-secondary);

    min-width: 5em;
    aspect-ratio: 1/1;
    border-radius: 0.8em;

    &:nth-child(1) {
      background-color: var(--background-tertiary);
    }
  }
}
