@use '@/styles/_mixins.scss';

.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 2em 0;

  @include mixins.lg {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}
