:root {
  --background-primary: #0c151d;
  --background-secondary: #f0eee6;
  --background-tertiary: #c3a48b;

  --socials-background: #171f26;

  --button-primary: #171f26;
  --button-secondary: #c3a48b;
  --button-active: #0c151d;

  --border-primary: #c3a48b;

  --markdown-heading: #c3a48b;

  --font-primary: #a3abb2;
  --font-secondary: #f1f2f4;
  --font-tertiary: #3d3d3d;

  --backdrop-font: #ffffff;

  --tile-primary: #171f26;
  --tile-secondary: #777777;
  --tile-linkedin: #0e76a8;
  --tile-discord: #7289da;

  --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --image-shadow: rgba(0, 0, 0, 0.3);
  --popup-background: #ffffff;
}

[data-theme='dark'] {
  --background-primary: #0c151d;
  --background-secondary: #f0eee6;
  --background-tertiary: #c3a48b;

  --socials-background: #171f26;

  --button-primary: #171f26;
  --button-secondary: #c3a48b;
  --button-active: #171f26;

  --border-primary: #c3a48b;

  --markdown-heading: #c3a48b;

  --font-primary: #a3abb2;
  --font-secondary: #f1f2f4;
  --font-tertiary: #3d3d3d;

  --backdrop-font: #ffffff;

  --tile-primary: #171f26;
  --tile-secondary: #777777;

  --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --image-shadow: rgba(100, 100, 100, 0.3);
  --popup-background: #ffffff;
}

[data-theme='light'] {
  --background-primary: #fcf8f4;
  --background-secondary: #f0eee6;
  --background-tertiary: #c3a48b;

  --socials-background: #c3a48b;

  --button-primary: #ffffff;
  --button-secondary: #dbb18e;
  --button-active: #ffffff;

  --border-primary: #dbb18e;

  --markdown-heading: #c3a48b;

  --font-primary: #575757;
  --font-secondary: #3d3d3d;
  --font-tertiary: #3d3d3d;

  --backdrop-font: #ffffff;

  --tile-primary: #ffffff;
  --tile-secondary: #777777;

  --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --image-shadow: rgba(0, 0, 0, 0.3);
  --popup-background: #ffffff;
}
