$background-primary: #0c151d;
$background-secondary: #f0eee6;
$background-tertiary: #c3a48b;

$button-primary: #171f26;
$button-secondary: #c3a48b;
$button-active: #0c151d;

$border-primary: #c3a48b;

$font-primary: #a3abb2;
$font-secondary: #f1f2f4;
$font-tertiary: #3d3d3d;
