@use '@/styles/_mixins.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tile-primary);
  grid-column: span 2;
  padding: 2em 2em;
  border-radius: 0.7em;
  grid-row: 1/2;
  position: relative;
  box-shadow: var(--tile-shadow);

  @include mixins.lg {
    padding: 3em 3em;
  }

  span {
    font-size: 0.8rem;
    text-align: justify;

    @include mixins.lg {
      font-size: 0.9rem;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-55%, -58%);
  }
}
