.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-discord);
  border-radius: 0.7em;
  aspect-ratio: 1/1;

  img {
    width: 40%;
    height: 40%;
  }
}
